@value makerOrange from '../../common/color.module.css';
@value mediaQuery from '../../common/size.module.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerText {
  font-size: 1.2rem;
  color: makerOrange;
  font-weight: 700;
}

.headerText2 {
  font-weight: 700;
  font-size: 1.8rem;
}

.container1 {
  display: flex;
}

.title {
  font-size: 1.17em;
  font-weight: 600;
}

.newProject {
  width: 35rem;
  flex-basis: 50%;
}

.popularProject {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-left: 7em;
}

.new {
  width: 40rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: mediaQuery) {
  .container1 {
    flex-direction: column;
  }

  .popularProject {
    margin-left: 0;
  }
}
