@value makerOrange from '../../common/color.module.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}

.header {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.headerText {
  font-size: 1.2rem;
  color: makerOrange;
  font-weight: 700;
}

.headerText2 {
  font-weight: 700;
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.input input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.verification {
  font-size: 0.8rem;
  color: red;
}

.name {
  margin-bottom: 0.5em;
}
.email {
  display: flex;
  justify-content: space-between;
}

.email input {
  width: 85%;
}

.emailText {
  background-color: makerOrange;
  font-size: 0.9rem;
  width: 6rem;
  text-align: center;
  border-radius: 0.5rem;
  line-height: 2.5rem;
}

.footer {
  margin-top: 3em;
  text-align: center;
}

.button {
  font-size: 0.9rem;
  width: 14rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: makerOrange;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.selectBox {
  display: flex;
  justify-content: space-between;
}

.select {
  width: 30%;
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
}
