@value makerOrange '../../common/color.module.css';

.container {
  margin-bottom: 0.5em;
}

.selectBox {
  display: flex;
  justify-content: space-between;
}

.select {
  width: 30%;
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
}

.selectRecruit {
  text-align: center;
}
