@value mediaQuery, phoneQuery from '../../common/size.module.css';
@value makerSky from '../../common/color.module.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  margin: 1em 0;
  display: flex;
  background-color: makerSky;
  justify-content: center;
}

.bannerWidth {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bannerTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerTxt h1 {
  font-size: 1.8rem;
}

.bannerTxt p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

.bannerImg {
  height: 350px;
  object-fit: cover;
}

.main {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.moveContainer {
  margin-top: 3em;
}

.moveProjects {
  display: flex;
  margin-bottom: 0.5em;
}

.moveProjects button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
}

.project {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 100%;
  margin-bottom: 3em;
  padding: 0;
}

@media screen and (max-width: mediaQuery) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }

  .bannerWidth {
    flex-direction: column;
    align-items: center;
  }

  .bannerTxt h1 {
    font-size: 1.6rem;
  }

  .bannerTxt p {
    font-size: 1rem;
  }
}

@media screen and (max-width: phoneQuery) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
}
