@value mediaQuery, phoneQuery from '../../common/size.module.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.bannerImg {
  width: 100vw;
  height: 20em;
}

.main {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
}

.moveContainer {
  margin-top: 3em;
}

.moveProjects {
  display: flex;
  margin-bottom: 0.5em;
}

.moveProjects button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
}

.project {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 100%;
  margin-bottom: 3em;
  padding: 0;
}

@media screen and (max-width: mediaQuery) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: phoneQuery) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
}
