@value makerOrange from '../../common/color.module.css';

.completion {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.headerTxt {
  font-size: 2rem;
  color: makerOrange;
  font-weight: 700;
}

.headerSubTxt {
  font-weight: 700;
  font-size: 1.2rem;
}

.projectCard {
  display: flex;
  justify-content: center;
}

.project {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: mediaQuery) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: phoneQuery) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
}
