.detailInfo {
  padding: 3em 1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  transform: translateY(1.5rem);
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.recruitJob {
  margin-right: 10em;
}

.recruitBtn {
  margin-left: 2em;
  cursor: pointer;
  background-color: white;
  border: 0.5px solid gray;
  padding: 0.2rem 1.2rem;
  border-radius: 0.2rem;
}

.idea {
  margin-top: 0.5em;
}

.ideas {
  display: flex;
  justify-content: flex-end;
}

.tech {
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techImg {
  font-size: 2rem;
  color: skyblue;
}

.leaderInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.memberTxt {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.memberSubTxt {
  margin-bottom: 0.5rem;
}
