@value makerOrange from '../../common/color.module.css';

.detailInfo {
  padding: 3em 1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  transform: translateY(1.5rem);
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.recruitCard {
  margin-bottom: 0.5rem;
}

.recruitJob {
  margin-right: 6rem;
  display: inline-block;
  width: 8rem;
}

.recruitBtn {
  margin-left: 2em;
  cursor: pointer;
  background-color: white;
  border: 0.5px solid gray;
  padding: 0.2rem 1.2rem;
  border-radius: 0.2rem;
}

.recruitBtn:hover {
  background-color: makerOrange;
}

.rejectBtn {
  border: 0.5px solid makerOrange;
  background-color: makerOrange;
  color: white;
}

.idea {
  margin-top: 0.5em;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: transparent;
}

.idea:hover {
  transition: ease-out 300ms;
  transform: scale(1.02);
}

.ideas {
  display: flex;
  justify-content: flex-end;
}

.techs {
  display: flex;
}

.tech {
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.techImg {
  font-size: 2rem;
  color: skyblue;
}

.leaderInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.memberTxt {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.memberSubTxt {
  margin-bottom: 0.5rem;
}

.modalText {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}
