@value makerOrange from '../../common/color.module.css';

.detailManage {
  padding: 3em 1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  transform: translateY(1.5rem);
}

.completion {
  display: flex;
  justify-content: space-between;
}

.completionBtn {
  border-radius: 0.5rem;
  border: 2px solid makerOrange;
  padding: 0 0.5rem;
  font-weight: 600;
  outline: 0;
  color: makerOrange;
  background-color: white;
  height: 2.5rem;
}

.completionBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 300ms ease-out;
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.recruitJob {
  margin-right: 6rem;
  display: inline-block;
  width: 8rem;
}

.leaderInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.memberTxt {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.applicationCards {
  display: flex;
  flex-wrap: wrap;
}

.applicationCard {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: makerOrange;
  border: 0;
  outline: 0;
  font-weight: 600;
}

/* .rejectBtn {
  border: 1px solid makerOrange;
  background-color: white;
  color: makerOrange;
} */
