@value makerOrange from '../../common/color.module.css';
@value mediaQuery from '../../common/size.module.css';

.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo button {
  font-size: 1.1rem;
  border: 0;
  background-color: transparent;
}

.icon {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: makerOrange;
  color: white;
  border-radius: 50%;
}

.title {
  margin: 0;
  padding: 0 0.2em;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  padding: 0 0.5em;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-size: 1.1rem;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 5%;
}

.button:hover {
  color: makerOrange;
}

.toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: black;
  display: none;
  background-color: transparent;
  border: 0;
  color: makerOrange;
}

@media screen and (max-width: mediaQuery) {
  .header {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .menu li {
    text-align: center;
    padding: 0.5em 0;
  }
  .button {
    width: 20rem;
  }
  .button:hover {
    color: white;
    background-color: makerOrange;
    opacity: 0.8;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
  }

  .toggleText {
    font-size: 0.8rem;
  }
}

.modal {
  display: flex;
  flex-direction: column;
}

.modalText {
  margin-top: 3em;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal a {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.profileImage {
  font-size: 1.5rem;
}

.dropDownMenu {
  cursor: pointer;
  font-size: 0.9rem;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  padding: 10px;
}

.dropDownMenu li {
  padding: 0.5rem;
}

.dropDownMenu li:hover {
  cursor: pointer;
  background-color: makerOrange;
  border-radius: 1rem;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(2rem);
}

.dropDownTxt {
  margin-left: 1rem;
}
