@value makerOrange from '../../common/color.module.css';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

ul.pagination li:first-child {
  border-radius: 50%;
}

ul.pagination li:last-child {
  border-radius: 50%;
}

ul.pagination li a {
  text-decoration: none;
  color: makerOrange;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: makerOrange;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  opacity: 0.8;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: makerOrange;
}
