.modal {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.modalText {
  margin-top: 3em;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal a {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}
